@import "../../assets/variables";

.how-to {
  display: grid;
  justify-self: center;
  max-width: $content;
  width: calc(100vw - 24px);
  padding: 0;
  justify-content: center;
  grid-gap: $spacing-large;
  padding-bottom: $spacing-smaller;

  .url-button {
    justify-self: center;
  }

  >.heading {
    text-align: center;
  }

  @media (min-width: $desktop) {
    width: calc(100vw - 96px);
    padding: $spacing-large;
  }

  &__search {
    display: grid;
    grid-gap: $spacing-tiny;
    justify-self: center;
    position: relative;
    grid-template-columns: 40px 1fr 40px;
    width: calc(100vw - 24px);
    max-width: 640px;
    padding: $spacing $spacing-smaller;

    @media (min-width: $desktop) {
      grid-template-columns: 50px 1fr 50px;
      padding: $spacing-medium $spacing-large;
    }

    .input {
      font-family: $font-family;
      color: $text-medium;
      width: calc(100% - 15px);
      box-shadow: none;
      border: none;
      text-align: start;
      border-bottom: 1px solid $primary;
      text-align: center;
      font-size: $tiny;
      padding: 0px $spacing-tiny;
      background: rgba(0, 0, 0, 0);

      @media (min-width: $desktop) {
        font-size: $small;
      }

      &::placeholder {
        font-family: $font-family;
        color: $text-weak;
      }

      &:focus {
        border-bottom: 1px solid $highlight;
        outline: none;
      }
    }

    .icon {
      background: rgba(0, 0, 0, 0);
      width: 40px;

      @media (min-width: $desktop) {
        width: 50px;
      }
    }
  }

  .content {
    display: grid;
    justify-self: center;
    grid-gap: $spacing-large;
  }

  .no-results {
    font-family: $font-family;
    font-size: $small;
    color: $text-weak;
  }

  .subsection {
    display: grid;
    grid-gap: $spacing;
  }
}